/* Reset CSS */

/* Basique */

*, 
::before, 
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Centrer un élément horizontalement parfaitement  */
/* Si l'élément est en block */
.titre {
  text-align: center;
}
.boite {
  margin: 0 auto;
  display: block; /* Si jamais il n'est pas en block de base (img, a, span, button) */
}

/* Complet */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

ol, 
ul {
	list-style: none;
}

li {	
  list-style-type: none;
}

blockquote, 
q {
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} 


/* **************** FLEX ******************* */

/* Centrer un élément dans sa boite (enfant unique) */
.parent-d-1-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Répartir équitablement sur la même ligne des éléments dans la page */
.parent-de-plusieurs-enfants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ***************** GRID ******************** */

/* Répartir précisemment des éléments dans la largeur avec des tailles différentes */
.parent-de-3-elements {
  display: grid;
  grid-template-columns: 25% 55% 20%;
}

/* Créer des grilles complexes */
.parent-des-elements {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 300px;
  grid-template-areas:
    "header header header"
    "side main main"
    "side footer footer";
}
.enfant1 {
  grid-area: header;
}

/* ***************** ABSOLUTE ***************** */

/* Centrer parfaitement un élément */
.parent {
  position: relative;
}
.enfant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
