/* Importation de la fonte Inter  */
@font-face {
  font-family: 'inter-bold';
  src: url(../font/Inter-Bold.ttf);
  font-family: 'inter-medium';
  src: url(../font/Inter-Medium.ttf);
  font-family: 'inter-regular';
  src: url(../font/Inter-Regular.ttf);
}

/* Création de varaibles couleurs */
:root {
  --background1: rgb(26, 26, 26);
  --background2: rgb(71, 76, 254);
  --background3: rgb(15, 15, 15);
  --font1: rgb(255, 255, 255);
  --font2: rgb(71, 76, 254); /* #474CFE */
  --font3: rgb(163, 117, 17);
}

* {
  font-family: 'inter-regular', serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: var(--background1);
  min-height: 100vh;
  color: var(--font1);
  cursor: none;
}
.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 300px;
  mix-blend-mode: difference;
  pointer-events: none;
}

#mouse1 {
  height: 10px;
  width: 10px;
  /* border: 1px solid gray; */
  background: rgb(180, 174, 233);
  mix-blend-mode: hard-light;
}

#mouse2 {
  height: 50px;
  width: 50px;
  /* border: 1px solid rgb(63, 63, 63); */
  background: rgb(255, 255, 255);
  transition: 0.1s ease-out;
}

#mouse3 {
  height: 120px;
  width: 120px;
  /* border: 1px solid rgb(63, 63, 63); */
  background: rgb(41, 41, 41);
  transition: 0.3s ease-out;
}

nav {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
}

h2 {
  padding-left: 10px;
  font-size: 1.6rem;
}

nav ul {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  text-align: right;
  top: 5px;
  right: 25px;
  width: 70%;
  height: 30px;
  align-items: end;
}

nav li {
  /* Retire le signe devant les listes */
  list-style-type: none;
  font-size: 0.9rem;
  width: 100%;
}

a,
a:visited {
  /* Retire la surlignement les liens */
  text-decoration: none;
  /* Moidifie le pointeur de la souri sur les liens */
  cursor: pointer;
  color: var(--font1);
  transition: 0.3s;
}

a:hover {
  font-size: 1.2rem;
  color: #e7f345;
}

header,
section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.header-left,
.header-right {
  width: 50%;
  margin: auto;
}

.header-left-container {
  padding: 0 30px 0 5px;
}

h1 {
  font-size: 5rem;
  width: 80%;
}

.header-left h3 {
  font-size: 1.8rem;
  color: var(--font2);
}

p {
  font-size: 0.8rem;
}

.header-right img {
  width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

section {
  background: var(--background3);
  border-radius: 5px;
}

.infos h3 {
  font-size: 1.1rem;
}

.infos-left {
  width: 220px;
  text-align: center;
}

.infos-left ul {
  display: flex;
  flex-direction: column;
  width: 100px;
}

button {
  cursor: pointer;
  background: var(--background2);
  color: var(--font1);
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 0px;
  width: 150px;
  border-radius: 5px;
  margin: 5px auto;
  display: block;
  transition: 0.8s;
}

button:hover {
  background: var(--font1);
  color: var(--font2);
}

button:active {
  transform: scale(1.2);
}

.btn-container {
}

.infos-right {
  /* background: yellow; */
  width: 90%;
  margin-left: 60px;
  position: relative;
}

.infos-right h3 {
  position: absolute;
  top: 0px;
  left: 250px;
  border-radius: 5px;
}

.investor {
  /* background: red; */
  margin-top: 40px;
  width: 100%;
}

.img-container {
  /* background-color: green; */
  margin-left: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-container img {
  height: 60px;
  transition: 0.8s;
}

.img-container img:hover {
  transform: scale(1.4);
}

/* *********** MEDIA QUERIES ************ */

@media screen and (min-width: 700px) and (max-width: 850px) {
  h1 {
    font-size: 4rem;
    color: red;
  }

  .infos-right h3 {
    left: 150px;
  }

  .infos h3 {
    font-size: 0.9rem;
  }

  .img-container img {
    height: 40px;
  }
}

@media screen and (max-width: 700px) {
  nav ul {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }

  .infos-right h3 {
    left: 50px;
  }

  .infos-left {
    width: 180px;
    text-align: center;
  }

  .infos-left ul {
    display: flex;
    flex-direction: column;
    width: 100px;
  }

  button {
    padding: 6px 0px;
    width: 120px;
    margin: 4px auto;
    font-size: 0.6rem;
  }

  header {
    flex-direction: column;
  }

  .header-left,
  .header-right {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
    color: blueviolet;
  }

  .infos h3 {
    font-size: 0.7rem;
  }

  .img-container {
    flex-direction: column;
  }

  .img-container img {
    height: 40px;
  }
}
