/* ***** CONFIG GENERALE ***** */
@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-Light.ttf) format('truetype');
}

*,
::after,
::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

.button {
  background: none;
  color: rgb(52, 52, 52);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 40px;
  padding: 10px 25px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1.8px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover,
.icone-footer:hover {
  background: rgb(187, 187, 187);
  color: white;
  border: 1px solid whitesmoke;
  transform: scale(1.2);
}

.button:active {
  transform: scale(1.1);
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  max-width: 700px;
}

h2 {
  font-size: 2.3rem;
  font-weight: 100;
  max-width: 700px;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 30px;
  padding: 20px 0 25px;
  letter-spacing: -1px;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

/* ***** Ajouter les traits entres 2 sections ***** */
.first,
.second,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}

/* ****************** BODY ****************** */

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background: whitesmoke;
  font-size: 0.8rem;
  width: 100%;
  max-width: 1800px;
  min-height: 100vh;
}

/* **************** HEADER **************** */
header {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
}

.header-img {
  background: url(./img/banner.jpg) right / cover;
}

/* *************** SECTION - FIRST *************** */
.first {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 400px;
}

.first-img {
  background: url(./img/img-left.jpg) center / cover;
}

/* *************** SECTION - SECOND *************** */
.second {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 400px;
}

.second-img {
  background: url(./img/img-right.jpg) center / cover;
}

/* ************** SECTION - CONTACT ************** */
.contact {
  text-align: center;
  position: relative;
  padding: 60px 0;
}

.container-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 224px;
  grid-template-areas:
    'input1 input2'
    'texta texta';
  gap: 10px;
  width: 85%;
  max-width: 600px;
  margin: 30px auto;
}

.message {
  grid-area: texta;
}

label {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  margin: 20px 0 40px;
  background: none;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100%;
  height: 40px;
  transition: 0.5s;
}

input[type='text']:hover,
input[type='email']:hover,
textarea:hover {
  background: rgba(230, 229, 229, 0.514);
  border: 1px solid rgb(172, 171, 171);
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  background: rgba(230, 229, 229, 0.514);
  border: 1px solid rgb(58, 58, 58);
}

textarea {
  resize: none;
  height: 200px;
}

/* ************ FOOTER ************ */
footer {
  padding: 70px 0 90px;
  position: relative;
}

footer:before {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background: rgb(221, 221, 221);
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  min-width: 300px;
  margin: 0 auto;
}

footer a {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 150px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

footer i {
  font-size: 1rem;
}

.icone-footer:hover {
  color: rgb(221, 221, 221);
  border: 1px solid rgb(221, 221, 221);
}

.twitter:hover {
  background: #1da1f2;
}

.facebook:hover {
  background: #6aa0ca;
}

.instagram:hover {
  background: linear-gradient(
    194deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 75%,
    rgba(252, 176, 69, 1) 100%
  );
}

.linkedin:hover {
  background: #0073b1;
}

/* ************** MEDIA QUERIES ************** */

/* ************ max-width: 850px ************ */
@media screen and (max-width: 850px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 25px;
    padding: 15px 0 15px;
  }
}

/* ************ max-width: 660px ************ */
@media screen and (max-width: 660px) {
  h2 {
    margin: 20px 0;
  }

  header,
  .first,
  .second {
    display: block;
  }

  /* *********** HEADER ************ */

  .header-right {
    margin-top: 40px;
  }

  header .header-img {
    height: 50vh;
    margin-top: 30px;
  }

  .first-left img,
  .second-right img {
    display: none;
  }

  .first {
    margin: 0 10px;
  }

  .second {
    margin: 40px 10px;
  }

  footer h3 {
    font-size: 2.6rem;
  }

  footer ul {
    min-width: 200px;
  }

  footer a {
    width: 24px;
    height: 24px;
  }

  footer i {
    font-size: 0.6rem;
  }
}
