@font-face{ 
	font-family: 'DS-Digital'; 
 	src: url('./font/DS-DIGIB.TTF') format('truetype'); 
}

body {
	overflow: hidden; /* Pour suprimer ce qui sort de l'écran */
	// min-height: 100vh;
	cursor: crosshair;
	font-size: 1.6rem;
	margin-top: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

h3 {
	text-align: center;
	color: rgba(128, 128, 128, 1);
	font-family: DS-Digital, Impact, "Arial Black", Arial, sans-serif;	
	padding: 5px 0;
	margin-top: 0px;
}

p {
	text-align: center;
	color: rgba(128, 128, 128, 0.55);
	padding: 5px 15px;
	margin-top: 0px;
}

p span {
	color: rgba(128, 128, 128, 1);
	font-family: DS-Digital, Impact, "Arial Black", Arial, sans-serif;	
	margin-top: 0px;
}

div {
	height: 40px;
	display: flex;
	align-content: flex-start;
	justify-content: center;	
	background: white;
}

main {
	width: 90%;
	height: 400px;
	margin: auto;
}


.bubble {
	position: absolute;
	border-radius: 300px;
	background: rgba(255, 166, 0, 0.6);
	opacity: 0;
	animation: anim 9s forwards;
	filter: hue-rotate(0deg);
	z-index: -5;
	
	-moz-box-shadow:inset 4px 5px  5px 0 rgba(255, 255, 255, 0.7);
	-webkit-box-shadow:inset 5px 4px  5px 0 rgba(255, 255, 255, 0.7);
	box-shadow:inset 4px 5px 5px 0 rgba(255, 255, 255, 0.7);
}

@keyframes anim {
	to {
		top: -260px; /* Fait monter les bulles */
		left: var(--left); /* pour injecter la valeur depuis JavaScript */
		opacity: 1;
		filter: hue-rotate(720deg); /* Fait changer la couleur des bulles */
	}
}

